if SHIELD_MXBLOK_LEFT
 
config ZMK_KEYBOARD_NAME
    default "mxBlok"
 
config ZMK_SPLIT_ROLE_CENTRAL
    default y
 
endif
 
if SHIELD_MXBLOK_LEFT || SHIELD_MXBLOK_RIGHT
 
config ZMK_SPLIT
    default y
 
endif